/* Scss Document */
*{
	box-sizing: border-box;
}

body{
	background-color: lighten($yellow, 65%);
}
#capsule {
	display: flex;
	flex-direction: column;
	padding-top: .5rem;
	overflow-x: hidden;
}

#header,
#content,
#footer {
	width: 100%;
	margin: 0 auto;
}

.container {
	width: auto;
	margin: auto;
	max-width: $max-desktop-viewport;
}

//#banner{
//	width: auto;
//	margin: auto;
//	max-width: $max-desktop-viewport;
//}

@media screen and (max-width: $mobile-viewport) {
	.container {

	}
}

@media screen and (min-width: $desktop-viewport) {
	#header,
	#content,
	#footer {
		min-width: $desktop-viewport;
		width: 100%;
	}
}

@media screen and (min-width: $max-desktop-viewport) {}

@import "layout-header";
@import "layout-content";
@import "layout-footer";
