/* Scss Document */
*{
	box-sizing border-box;
}
#capsule {
	display: flex;
	flex-direction: column;
	padding-top: .5rem;
	background-color: lighten($yellow, 75%);
}

#header,
#content,
#footer {
	width: auto;
	margin: 0 auto;
}

.container {
	width: auto;
	margin: auto;
	max-width: $max-desktop-viewport;
}

@media screen and (max-width: $mobile-viewport) {
	.container {
		padding: .5rem;
		margin: 0 -.5rem;
	}
}

@media screen and (min-width: $desktop-viewport) {
	#header,
	#content,
	#footer {
		min-width: $desktop-viewport;
		width: 100%;
	}
}

@media screen and (min-width: $max-desktop-viewport) {}

@import "layout-header";
@import "layout-content";
@import "layout-footer";
