/* Styles for Single Level Menu */

#header {
	.main-navigation {
		/* Base styles that apply to all menus */
		padding-bottom: 2em;
		//margin-bottom: 2em;
		//border-bottom: 1px solid hsl(0, 0%, 0%);
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		li {
			a {
				border-top: thin solid #CCC;
				border-bottom: thin solid #CCC;
				display: block;
				text-decoration: none;
				color: $green;
				padding: .3em 1em;
				text-align: center;
				&:hover {
					border-top: thin solid $green;
					border-bottom: thin solid $green;
					&:before {
						display: inline-block;
						font-family: FontAwesome;
						content: "\00a0 \f06c \00a0";
					}
					&:after {
						display: inline-block;
						font-family: FontAwesome;
						content: "\00a0 \f06c \00a0";
						-webkit-transform:rotateY(180deg);
						-moz-transform:rotateY(180deg);
						-o-transform:rotateY(180deg);
						-ms-transform:rotateY(180deg);
						transform:rotateY(180deg);
					}
				}
			}
		}
	}
	.hamburger-menu {
		display: none;
	}
}

@media screen and (max-width: $mobile-viewport) {
	#header {
		.logo {
			display: block;
			width: 100%;
			height: auto;
		}
		.main-navigation {
			display: none;
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					width: 50%
				}
			}
		}
		.hamburger-menu {
			display: inline-block;
			margin-left: auto;
		}
	}
}

@media screen and (min-width: $desktop-viewport) {
	#header {
		.logo {
			display: none;
		}
		.main-navigation {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			li {
				flex: 1 0 auto;
				text-align: center;
			}
		}
	}
}

@media screen and (min-width: $max-desktop-viewport) {
	#header {
		.main-navigation {
			li a {
				&:before {
					display: inline-block;
					font-family: FontAwesome;
					content: "\00a0 \f06c \00a0";
					color: hsla(0,0%,0%,0.00);
				}
				&:after {
					display: inline-block;
					font-family: FontAwesome;
					content: "\00a0 \f06c \00a0";
					color: hsla(0,0%,0%,0.00);
					-webkit-transform:rotateY(180deg);
					-moz-transform:rotateY(180deg);
					-o-transform:rotateY(180deg);
					-ms-transform:rotateY(180deg);
					transform:rotateY(180deg);
				}
				&:hover {
					&:after {
						color: $green;
					}
					&:before {
						color: $green;
					}
				}
			}
		}
	}
}