/* Scss Document 
*/

#content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin-top: .5rem;
	#banner{
		margin: 0 -1rem;
	}
}
#testimonials{
	.customer-name{
		display: inline-block;
	}
	.customer-rating{
		display: inline-block;
		.fa-star{
			i{
				-webkit-text-stroke: 1px #ffd700;
				color: white;
				text-shadow:
					3px 3px 0 #ffd700,
					-1px -1px 0 #ffd700,  
					1px -1px 0 #ffd700,
					-1px 1px 0 #ffd700,
					1px 1px 0 #ffd700;
					display: none;
			}
			.filled{
				color: #ffd700
			}
		}
	}
}

@media screen and (max-width: $mobile-viewport) {

}

@media screen and (min-width: $desktop-viewport) {
	.content {
		flex-direction: row;
	}
	#-content {
		flex: 1 1 auto;
	}
}